body {
	background-color: gray;
}

.img-profile {
	clip-path: circle();
	display: block;
	margin: auto;
	width: 200px;
	height: 200px;
}

h1 {
	font-family: cursive;
	text-align: center;
}

p {
	text-align: center;
}

h3 {
	font-family: cursive;
}

.deretan-gambar {
    display: flex;
    gap: 15px;
}

.deretan-gambar img {
    width:100%;
    height: 400px;
}