body {
	background-color: lightblue;
}

.img-profile {
	clip-path: circle();
	display: block;
	margin: auto;
	width: 200px;
	height: 200px;
}

h1 {
	font-family: cursive;
	text-align: center;
}

p {
	text-align: center;
}

h3 {
	font-family: cursive;
}