body {
	background-color: honeydew;
}

h1 {
	font-size: 35px;
	font-family: monospace;
	text-align: center;
}

.icon {
	display: block;
	margin: auto;
	width: 250px;
	border-radius: 20px;
}

p {
	text-align: center;
}

.status {
	font-family: cursive;
}