body {
	background-color: palegoldenrod;
}

h1 {
	text-align: center;
}

.icon {
	display: block;
	margin: auto;
	width: 250px;
	border-radius: 20px;
}

p {
	text-align: center;
}

.status {
	font-family: cursive;
}